# فایل‌های سیستمی
.DS_Store
Thumbs.db

# لاگ‌ها
*.log

# فولدر node_modules برای پروژه‌های Node.js
node_modules/

# پوشه کامپایل‌شده
dist/
build/

# محیط‌های کاری
.vscode/
.idea/

# فایل‌های پنهان توسط سیستم
*.swp
*.bak

# فایل‌های محیطی
.env
