    
         
$font-size-base: 0.818rem;                  
$lead-font-size: $font-size-base * 1;         
$lead-font-weight: 300;                     
$display-line-height: 1.5;      


      
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss'; 
@import '../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';   
@import '../css/custom-style.css';       
          
    
   